@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Raleway-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #3c3d42;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: #55bd7e;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:active, a:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

ul, li, ul > li {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

button {
  background: none;
  border: none;
}
button:active, button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}

input, input:hover, input:active {
  outline: none;
}

input[type=button], input[type=submit] {
  cursor: pointer;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.logo {
  font-family: "ProximaNova-Bold", "Arial", sans-serif;
  font-size: 30px;
  color: #3c3d42;
}

.ico:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body *::selection {
  background-color: #55bd7e;
  color: #fff;
}

.headline {
  font-family: "Raleway-Bold", "Arial", sans-serif;
  font-size: 36px;
}

.description {
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 36px;
}

.text {
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 16px;
}

.button {
  width: 238px;
  height: 58px;
  border: 3px solid;
  border-radius: 40px;
  font-family: "Raleway-Bold", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.button:hover {
  transition: 0.3s ease-in-out;
  color: #55bd7e;
  border-color: #55bd7e;
}

@media screen and (max-width: 767px) {
  .button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .button {
    width: 100%;
  }
}
/*UP TO TOP*/
.up-to-top {
  transition: all 0.5s ease-in-out;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #8c9494;
  border-radius: 50%;
  bottom: -50px;
  right: 10px;
  cursor: pointer;
}
.up-to-top .fa-angle-up {
  font-size: 40px;
  color: #8c9494;
  transition: 0.3s ease-in-out;
}
.up-to-top:hover {
  border-color: #55bd7e;
}
.up-to-top:hover .fa-angle-up {
  color: #55bd7e;
  transition: 0.3s ease-in-out;
}

.header {
  background-color: #fff;
}
.header .navbar {
  padding: 40px 0;
}
.header .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 30px;
}
.header .nav {
  text-align: center;
}
.header .nav__item:not(:last-child) {
  margin-right: 30px;
}
.header .nav__link {
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 14px;
  color: #3c3d42;
}
.header .nav__link:hover {
  color: #55bd7e;
}
.header__contact {
  display: flex;
  text-align: center;
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 18px;
  color: #3c3d42;
}
.header__contact .fas:before, .header__contact .far:before {
  padding-right: 10px;
}
.header .contact__phone {
  margin-right: 40px;
}

@media screen and (max-width: 991px) {
  .header .nav__item:not(:last-child), .header .contact__phone {
    margin: 0;
  }
  .header .nav__link {
    font-size: 16px;
  }
  .header .navbar {
    padding: 2% 0;
  }
  .header__contact {
    margin-top: 30px;
  }
  .header__nav, .header .nav, .header__contact {
    flex-direction: column;
  }
}
.download {
  width: 100%;
  min-height: 730px;
  background: url("../../images/download/bg.jpg") 50% 50% no-repeat;
  position: relative;
}
.download .container {
  min-height: 730px;
  position: relative;
}
.download .row, .download__content {
  min-height: 730px;
}
.download__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.download__description {
  font-family: "Raleway-Light", "Arial", sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
}
.download__text {
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 14px;
  color: #9dc7d1;
  margin-bottom: 50px;
}
.download__button {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.download__phone {
  position: absolute;
  width: 450px;
  height: 6400px;
  bottom: 0;
  right: 0;
  background: url("../images/download/phone.png") bottom right no-repeat;
}

@media screen and (max-width: 991px) {
  .download__phone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .download__content {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
