// FEATURES
.features {
  padding: 100px 0;
  &__title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  &__head {
    color: $light-headline;
    margin-bottom: 30px;
  }
  &__text {
    color: $light-description;
    margin-bottom: 20px;
  }
  &__types {
    padding: 20px 20px;
    border-bottom: 1px solid rgb(219, 226, 226);
    display: flex;
    justify-content: space-evenly;
    .types {
      &__item {
        display: flex;
		align-items: center;
		flex-direction: column;
		width: 120px;

        cursor: pointer;
        &--active {
          border-bottom: 10px solid $main-color;
          .types__icon {
            color: $main-color;
          }
        }
        &:hover {
          border-bottom: 10px solid $main-color;
          .types__icon {
            color: $main-color;
          }
        }
      }
      &__icon {
        width: 48px;
        color: rgba(61, 62, 66, 0.4);
        font-size: 48px;
        text-align: center;
      }
      &__head {
        padding-bottom: 0px;
      }
    }
  }
  &__description {
    align-items: center;
    height: 140px;

    .description {
      &__item {
        display: none;
        &--active {
          display: block;
        }
      }
      &__head {
        font-family: $ral-b, sans-serif;
        font-size: 24px;
        color: $light-headline;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &__text {
        font-family: $ral-r, sans-serif;
        font-size: 16px;
        color: $light-description;
      }
    }
  }
}
