$main-color:  #55bd7e;

$link:        #3c3d42;
$link-active: $main-color;

$ral-r: "Raleway-Regular";
$ral-b: "Raleway-Bold";
$ral-l: "Raleway-Light";

$light-headline: #636c6c;
$headline:       $main-color;

$light-description: #afb8b8;
$description:       #8c9494;